<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head">

    <title id="pageTitle">Home Page</title>
</head>
<body>

<!-- importing NAVBAR -->
<div th:replace="fragments.html :: navbar"></div>


<!-- Container -->
<div class="container">
    <img th:src="@{/images/quiz.png}" alt="java quiz" class="image mt-5">
    <div class="text-box">
        <h1 class="mb-5 text-center">Hello, this Java Quiz!</h1>
        <form class="card bg-dark py-4 px-4" action="/quiz" method="POST">
            <p>Enter your Name</p>
            <input type="text" name="username" />
            <p class="text-danger" th:if="${warning}" th:text="${warning}"></p>
            <button type="submit" class="btn btn-primary">Start Quiz</button>
        </form>
    </div>
</div>

<!-- Footer -->
<div th:insert="fragments.html :: footer"></div>

<div th:replace="fragments.html :: js"></div>
</body>
</html>