<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head">

    <title id="pageTitle">Show Questions</title>
</head>
<body>

<!-- importing NAVBAR -->
<div th:replace="fragments.html :: navbar"></div>


<!-- Container -->
<div class="container">
    <h1 class="mb-5 text-center">List of all questions</h1>


    <div th:if="${message}" class="alert-success" role="alert">
        <p th:text="${message}">success message</p>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">OptionA</th>
                    <th scope="col">OptionB</th>
                    <th scope="col">OptionC</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="question : ${listquestion}">
                    <th th:text="${question.id}">Question ID</th>
                    <td th:text="${question.title}">Title</td>
                    <td th:text="${question.optionA}">optionA</td>
                    <td th:text="${question.optionB}">optionB</td>
                    <td th:text="${question.optionC}">optionC</td>
                    <td>
                        <button type="button" class="btn btn-success mb-1"><a class="btn btn-success"
                                                                         th:href="@{'/edit/' + ${question.id}}">Edit</a>
                        </button>
                        <button type="button" class="btn btn-danger mb-1"><a class="btn btn-danger"
                                                                        th:href="@{'/delete/' + ${question.id}}">Delete</a>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>

<!-- Footer -->
<div th:insert="fragments.html :: footer"></div>

<div th:replace="fragments.html :: js"></div>
</body>
</html>